body {
	position: relative;
	font-family: 'Roboto', sans-serif;
	background-color: white;
	box-sizing: border-box;
	margin: 20px auto;
	padding: 0;
	max-width: 1280px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	padding: 5px 10px;
	/* border: 2px solid red; */
}

.mobile-menu-icon {
	display: none;
}

img.logo {
	max-width: 200px;
}

img.menu-image {
	width: 30px;
}

img.search-image {
	width: 30px;
	margin-top: -15px;
}

img.author-image {
	width: 600px;
	max-width: 90%;
}

img.book-image {
	width: 400px;
	max-width: 90%;
}

header nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

header nav ul li a {
	font-size: 16px;
	font-weight: bold;
	margin: 0.2em;
	padding: 0.2em 0.5em;
	color: black;
	text-decoration: none;
	cursor: pointer;
	/* border: 2px solid red; */
}

header nav ul li a.active {
	color: #ed4212;
	border-bottom: 2px solid #ed4212;
}

header nav ul li a:hover {
	color: white;
	background-color: black;
	padding: 0.3em 0.5em;
	border-bottom: none;
}

button,
a.buy-the-book,
.send-message,
a.button-left {
	font-size: 16px;
	color: white;
	background-color: #ed4212;
	padding: 0.8em 2em;
	margin-top: 2em;
	border: none;
	outline: none;
	text-decoration: none;
	border-radius: 40px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

a.buy-the-book {
	font-size: 12px;
	margin: 0;
}

.buttons-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin: 30px 0;
}

main {
	min-height: 1vh;
}

section {
	display: flex;
	justify-content: center;
	padding: 20px;
	margin: 40px auto;
	/* border: 2px solid blue; */
}

.left-side {
	padding-right: 250px;
}

main h1 {
	font-size: 29.3px;
	color: #ed4212;
}
main p {
	font-size: 18.1px;
	color: black;
	margin-bottom: 2em;
}
main p.section-1 {
	font-weight: bold;
	margin-bottom: 3em;
}

button.button-left {
	margin: 30px 0;
}

.customers {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h2 {
	font-size: 30px;
	color: #ed4212;
	margin: 0 auto;
	margin-bottom: 1em;
}

h4 {
	font-size: 20px;
	color: #ed4212;
	margin: 0;
}

.customer-cards-container {
	display: flex;
	justify-content: space-around;
}

.customer-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
	padding: 0 2.2em;
	/* border: 2px solid red; */
}

.customer-card P {
	text-align: center;
}

img.customer-image {
	width: 250px;
}

.section-page {
	padding: 1rem 4rem;
}

.section-page .left-side {
	padding-right: 80px;
}

.section-page p {
	text-align: justify;
	margin-bottom: 2em;
}

.contact-form {
	width: 100%;
	margin: 0 auto;
	text-align: left;
	margin: 4rem 0;
	/* border: 2px solid red; */
}

.input-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.input-container label {
	font-weight: bold;
	width: 150px;
	text-align: left;
}

.input-container input[type='text'],
.input-container textarea {
	width: 300px;
	padding: 10px;
	background-color: lightgray;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
}

::placeholder {
	color: white;
}

textarea::placeholder {
	color: white;
}

footer {
	text-align: center;
	margin-top: 20px;
	padding: 1em;

	background-color: #f7a088;
	/* border: 2px solid green; */
}

footer input {
	width: 70%;
	height: 30px;
	margin-bottom: 1em;
	border: none;
	outline: none;
	border-radius: 30px;
}

footer nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

footer nav ul a {
	font-size: 16px;
	font-weight: bold;
	margin: 0.8em;
	padding: 0.2em 0.1em;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

footer nav ul a:hover {
	color: #ed4212;
}

/* Mobile styles */
@media (max-width: 768px) {
	body {
		margin: 0 auto;
	}

	header {
		position: relative;
		justify-content: space-between;
		margin: 0;
		margin-bottom: 30px;
		padding: 5px 25px;
		/* border: 2px solid red; */
	}

	img.logo {
		max-width: 100px;
	}

	.mobile-menu-icon {
		display: block;
	}

	.nav-menu,
	.buy-the-book,
	.search-image {
		display: none;
	}

	.nav-menu.active {
		position: absolute;
		top: 45px;
		right: 30px;
		display: block;
		padding: 10px;
		background-color: white;
		border: 2px solid red;
	}

	.nav-menu.active ul {
		display: block;
	}

	.nav-menu.active a {
		font-size: 10px;
	}

	h2 {
		font-size: 20px;
		margin: 10px 0;
	}

	p {
		font-size: 10px;
	}

	section {
		flex-wrap: wrap;
	}

	.section-page {
		padding: 1em;
	}

	.section-page .left-side {
		padding: 0;
	}

	button,
	a.buy-the-book,
	.send-message,
	a.button-left {
		font-size: 12px;
	}

	button,
	button.get-started {
		margin: 2em 0;
	}

	.customer-cards-container {
		flex-wrap: wrap;
	}

	.customer-card {
		width: 100%;
	}

	.input-container input[type='text'],
	.input-container textarea {
		width: 120px;
	}

	.input-container label {
		width: 120px;
	}

	.left-side,
	.right-side {
		max-width: 90%;
		padding: 0;
	}

	.left-side img,
	.right-side img {
		margin: 1rem 0;
		max-width: 90%;
	}

	.left-side h1 {
		font-size: 20px;
	}

	.left-side p {
		font-size: 12px;
	}

	ul {
		margin: 0;
		padding: 0;
		/* border: 2px solid red; */
	}

	footer {
		padding: 5px;
	}

	footer nav ul a {
		font-size: 9px;
		margin: 0 0.2em;
		padding: 0;
		/* border: 2px solid red; */
	}
}
